In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#Calculating the Number of Unique Players
player_demo = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demo = player_demo.drop_duplicates()
num_players = player_demo.count()[0]
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [13]:
#Purchasing Information
unique_items = len(purchase_data['Item ID'].unique())
average_price = round(purchase_data['Price'].mean(), 2)
total_purchases = len(purchase_data['Price'])
total_revenue = float(purchase_data['Price'].sum())

summary_dataframe = pd.DataFrame({
    'Number of Unique Items': [unique_items],
    'Average Price': '$' + str(average_price),
    'Total Number of Purchases': [total_purchases],
    'Total Revenue': '$' + str(total_revenue)
})

summary_dataframe

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [14]:
#Gender Demographic
gender_count = player_demo["Gender"].value_counts()
gender_percent = gender_count/num_players*100
gender_count
gender_demographics = pd.DataFrame({
    'Percentage of Players': gender_percent,
    'Total Count': gender_count
})

gender_demographics = gender_demographics.round(2)
gender_demographics.head()

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

In [15]:
#Purchasing Analysis Gender
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
purchase_average_price = purchase_data.groupby(["Gender"]).mean()["Price"]
total_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
average_purchase_gender = total_purchase_value/gender_count

In [18]:
purchasing_analysis = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': purchase_average_price,
    'Total Purchase Value': total_purchase_value,
    'Average Purchase Total by Gender': average_purchase_gender
})

In [19]:
summary_purchasing_analysis = purchasing_analysis[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total by Gender"]]
summary_purchasing_analysis = summary_purchasing_analysis.round(2)
summary_purchasing_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Gender
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [ ]:
#Age Demographics

bins = [0, 10, 20, 25, 30, 35, 40, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]