In [5]:
import pandas as pd
import numpy as np

In [6]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [7]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
#Calculating the Number of Unique Players
player_demo = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demo = player_demo.drop_duplicates()
num_players = player_demo.count()[0]
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [9]:
#Purchasing Information
unique_items = len(purchase_data['Item ID'].unique())
average_price = round(purchase_data['Price'].mean(), 2)
total_purchases = len(purchase_data['Price'])
total_revenue = float(purchase_data['Price'].sum())

summary_dataframe = pd.DataFrame({
    'Number of Unique Items': [unique_items],
    'Average Price': '$' + str(average_price),
    'Total Number of Purchases': [total_purchases],
    'Total Revenue': '$' + str(total_revenue)
})

summary_dataframe

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [10]:
#Gender Demographic
gender_count = player_demo["Gender"].value_counts()
gender_percent = gender_count/num_players*100
gender_count
gender_demographics = pd.DataFrame({
    'Percentage of Players': gender_percent,
    'Total Count': gender_count
})

gender_demographics = gender_demographics.round(2)
gender_demographics.head()

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

In [11]:
#Purchasing Analysis Gender
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
purchase_average_price = purchase_data.groupby(["Gender"]).mean()["Price"]
total_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
average_purchase_gender = total_purchase_value/gender_count

In [12]:
purchasing_analysis = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': purchase_average_price,
    'Total Purchase Value': total_purchase_value,
    'Average Purchase Total by Gender': average_purchase_gender
})

In [13]:
summary_purchasing_analysis = purchasing_analysis[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total by Gender"]]
summary_purchasing_analysis = summary_purchasing_analysis.round(2)
summary_purchasing_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Gender
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [35]:
#Age Demographics

bins = [0, 10, 15, 20, 25, 30, 35, 40, 999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_groups = player_demo.loc[:, ["SN", "Age"]]
age_groups["Age Ranges"] = pd.cut(age_groups["Age"], bins, labels=group_names, right=False)
age_groups.head()

              SN  Age Age Ranges
0        Lisim78   20      20-24
1    Lisovynya38   40        40+
2     Ithergue48   24      20-24
3  Chamassasya86   24      20-24
4      Iskosia90   23      20-24

In [36]:
age_demo_totals = age_groups["Age Ranges"].value_counts()
age_demo_percents = (age_demo_totals/num_players *100).round(2)
age_demographics = pd.DataFrame({
    "Age Group Total": age_demo_totals,
    "Percentage of Total": age_demo_percents
})

age_demographics.sort_index()

       Age Group Total  Percentage of Total
<10                 17                 2.95
10-14               22                 3.82
15-19              107                18.58
20-24              258                44.79
25-29               77                13.37
30-34               52                 9.03
35-39               31                 5.38
40+                 12                 2.08

In [32]:
#Purchasing Analysis by Age
purchase_data["Total Count"] = pd.cut(purchase_data["Age"], bins, labels=group_names, right=False)
less_purchase_data = purchase_data[['Total Count', 'SN', 'Price']]

less_purchase_grouped = less_purchase_data.groupby('Total Count')
purchase_counts = less_purchase_grouped['Price'].count()
average_prices = round(less_purchase_grouped['Price'].mean(), 2)
total_spent = round(less_purchase_grouped['Price'].sum(), 2)
spending_per_person = round(total_spent/age_demo_totals, 2)

In [33]:
age_summary = pd.DataFrame({
    "Purchase Count": purchase_counts,
    "Average Purchase Price": average_prices,
    "Total Purchase Value": total_spent,
    "Average Total Purchase per Person": spending_per_person
})
age_summary.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81

In [34]:
#Identifying Top Spenders
top_spenders = purchase_data.groupby('SN')
purchase_count = top_spenders['Gender'].count()
average_spending = round(top_spenders['Price'].mean(), 2)
total_purchase = round(top_spenders['Price'].sum(), 2)

In [37]:
top_spenders_summary = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": average_spending,
    "Total Purchase Value": total_purchase
})
top_spenders_summary.sort_values('Total Purchase Value', ascending=False).reset_index().head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93               5                    3.79                 18.96
1  Idastidru52               4                    3.86                 15.45
2   Chamjask73               3                    4.61                 13.83
3       Iral74               4                    3.40                 13.62
4  Iskadarya95               3                    4.37                 13.10

In [38]:
#Most Popular Items
items = purchase_data.groupby(['Item ID', 'Item Name'])
purchase_count_items = items['Gender'].count()
average_spending_items = round(items['Price'].mean(), 2)
total_purchase_items = round(items['Price'].sum(), 2)

In [40]:
popular_items_summary = pd.DataFrame({
    "Purchase Count": purchase_count_items,
    "Item Price": average_spending_items,
    "Total Purchase Value": total_purchase_items
})
popular_items_summary.sort_values('Purchase Count', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [41]:
popular_items_summary.sort_values('Total Purchase Value', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80